<div class="page-header">
    <h1>{{ main.username}}'s Profile</h1>
</div>

<div class="col-md-8">
<div class="panel panel-info">
    <div class="panel-heading" style="text-align: center;"><strong>Your Classes</strong></div>
    <table class="table table-bordered">
        <tr>
            <td><strong>Class Name</strong></td>
            <td><strong>Instructor</strong></td>
            <td><strong>Time</strong></td>
        </tr>
        <tr>
            <td><a href="/student">Intro Biology</a></td>
            <td>Elena Bray-Speth</td>
            <td>10AM</td>
        </tr>
    </table>
</div>
</div>
