<div class="page-header">
    <h1>Instructor {{ main.username }}'s Profile</h1>
</div>

<div class="center-block">
    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center;"><strong>Your Sections</strong></div>
        <table class="table table-bordered">
            <tr>
                <td><strong>Course Name</strong></td>
            </tr>
            <tr ng-repeat="course in main.profile_payload.data.instructor_profile.course_list">
                <td><a ng-click="profile.fetchCourse(course.id, 'instructor', main.profile_payload.data.instructor_profile.id)">{{ course.title }}</a></td>
            </tr>
        </table>
    </div>
</div>
