<div class="page-header">
    <h1>Student {{ main.username }}'s Profile</h1>
</div>

<div class="center-block">
    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center;"><strong>Your Courses</strong></div>
        <table class="table table-bordered">
            <tr>
                <td><strong>Course Name</strong></td>
                <td><strong>Meeting Time</strong></td>
            </tr>
            <tr ng-repeat="course in main.profile_payload.data.student_profile.course_list">
                <td><a ng-click="profile.fetchCourse(course.id, 'student', main.profile_payload.data.student_profile.id)">{{ course.title }}</a></td>
                <td>MWF 10:00 AM - 11:00 AM</td>
            </tr>
        </table>
    </div>
</div>