<div class="page-header">
    <h1>Instructor {{ main.username }}'s Profile</h1>
</div>

<div class="center-block">
    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center;"><strong>Your Classes</strong></div>
        <table class="table table-bordered">
            <tr>
                <td><strong>Class Name</strong></td>
                <td><strong>Time</strong></td>
            </tr>
            <tr ng-repeat="course in main.dataPayload.teacher_profile.course_list">
                <td><a href="/teacherSection">{{ course.title }}</a></td>
                <td>{{course.teacher_list}}</td>
            </tr>
        </table>
        <!--<form ng-submit="profile.addCourse()">
            <input class="form-control" type="text" placeholder="Section Name" name="name" ng-model="profile.sections.name" ng-required="true" />
            <input class="form-control" type="text" placeholder="Section Time" name="time" ng-model="profile.sections.time" ng-required="true" />
            <input class="form-control" type="submit" value="Add Section"/>
        </form>-->
    </div>
</div>
